.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #000000ab;
}

.card{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  border: none;
  padding: 5px;
  margin: 14px 0px;
  background-color: #0000005e;
  color:white;
  box-shadow: 12px 19px 22px #888888;
}

.imgDiv{
  border-radius: 144px;
  width: 12.5rem;
  border: 2px solid lightgrey;
  margin: 10px;
  height: 12rem;
  overflow: hidden;
  display: flex;
}
.card-body{
  text-align: start;
  margin-left: 45px;
}
.filterInp{
  margin:5px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background-color: inherit;
  color: white;
}

.clsTag{
    border: 2px solid white;
    border-radius: 6px;
    margin: 7px 12px;
    padding: 4px 23px;
    margin-left: 0px;
}
